{{#is this 'form-param'}}{{#isNot this 'binary'}}@FormDataParam(value = "{{baseName}}")  {{{dataType}}} {{paramName}}{{/isNot}}{{#is this 'binary'}} @FormDataParam(value = "{{baseName}}") InputStream {{paramName}}InputStream{{/is}}{{/is}}